.card_button{
    height:100px;
    float:left;
    width:33.333%;
    /* border-radius:39px; */
    padding-top: 35px;
    color:white;

    
}

.btn-outline-danger:hover{
    color:black;
}

.big-card-back{
    top:-70vh;
}
a:not([href]){
    color:white;
}
/* a:not([href]):hover{
    color:white;
    text-shadow: -.1px -.1px 0 #000, .1px -.1px 0 #000, -.1px .1px 0 #000, .1px .1px 0 #000;
} */

.nav-link{
    /* text-shadow: 0 0 0; */
    color: white;
}

.aReview{
    border-radius:20px;
    border:solid black 1px;
    margin:20px;
}
@media screen and (min-width:1080px) {
body{
    overflow-y: hidden;
}
.big-card{
    margin:auto;
    max-width: 40vw;
    height:70vh;
    border-radius: 39px;
    
    
}
.review-container{
    height:50vh;
    overflow-y: scroll;
}
.big-picture{
    height:40vh;
    width:40vh;
    max-width: 100vw;
}
.big-header:first-child{
    border-radius: 39px 39px 0 0;
    height:100px;
    font-size:200%;
}
.big-bottom{
    height:100px;
    text-align:center;
    background-color:rgb(246, 115, 75);
    position:relative;
    bottom:0;
    border-radius: 0 0 39px 39px;
    display: block;
    /* vertical-align: middle; */
    /* width:100%; */
}
.close-card{
    float:right;
}
.card_blocks{
    width:33.333%;
    float:left;
    /* height:100%; */
}
.reviews{
    vertical-align: middle;
    border-radius:0 0 0 39px;
    border-right:solid black 1px;
}
.delivery{
    
    border-right:solid black 1px;
    border-left:solid black 1px;
}
.rides{

    border-radius:0 0 39px 0;
    border-left:solid black 1px;
    
}

}

@media screen and (max-width:1080px) {
    .big-card{
        margin:auto;
        max-width: 100vw;
        height:70vh;
        border-radius: 39px;
        
    }
    
    .big-picture{
        height:50vh;
        width:50vh;
        max-width: 100vw;
    }
    .big-header:first-child{
        border-radius: 39px 39px 0 0;
        height:100px;
        font-size:200%;
    }
    .big-bottom{
        height:100px;
        text-align:center;
        background-color:rgb(246, 115, 75);
        position:relative;
        bottom:0;
        border-radius: 0 0 39px 39px;
        display: block;
        /* vertical-align: middle; */
    }
    .review-container{
        height:50vh;
        overflow-y: scroll;
    }
    .close-card{
        float:right;
    }
    .card_blocks{
        width:33.333%;
        float:left;
        /* height:100%; */
    }
    .reviews{
        vertical-align: middle;
        border-radius:0 0 0 39px;
        border-right:solid black 1px;
    }
    .delivery{
        
        border-right:solid black 1px;
        border-left:solid black 1px;
    }
    .rides{
    
        border-radius:0 0 39px 0;
        border-left:solid black 1px;
        
    }
    
    
    }
    