.card-header{
    background-color: rgb(246, 177, 87);
    color:white;
    text-align:center;
    font-size:120%;
    font-weight:bold;
    height: 60px;
    padding:auto 0;
}
.card-bottom{
    height:50px;
    text-align:center;
    background-color:rgb(246, 115, 75);
}
.card{
    margin:10px 10px;
    z-index:0;
    transition: .1s;
}

ul{
    padding:0;
    margin-bottom:-2px;
}
.list-group-item{
    padding:0;
    text-align:center;
}
img{
    width:200px;
    height:200px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
.grid{
    height:90vh;
}
.container-fluid{
    height:90vh;
}
.notFound{
    display:block;
    width: 100%;
}