.card {
    margin-bottom: 15px;
}

.card-header{
    background-color: #FFD7A2;
    color:white;
    text-align:center;
    font-size:100%;
    font-weight:bold;
}
.card-body{

}
.card-body > img {
    width: 100%;
   
  
    
}